/* Add CSS Styling */
.btn-click,
.btn-attn-click {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn-click {
  background-color: black;
  color: white;
}

.btn-attn-click {
  background-color: yellow;
}
